parsers:
    MatcherParser:
        method_type: matcher_parser
        auto_config: False
        log_format: "type=<Type> msg=audit(<Time>): <Content>"
        time_format: null
        params:
            remove_spaces: True
            remove_punctuation: True
            lowercase: True
            path_templates: /app/demo/data/test_templates.txt
