# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main", "development" ]
  pull_request:
    branches: [ "main", "development" ]

permissions:
  contents: read
  packages: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv (Python 3.12)
      uses: astral-sh/setup-uv@v6.6.0
      with:
        python-version: "3.12"
        activate-environment: true
        enable-cache: true

    # include following code into the run section to match DetectMateService and DetectMateLibrary branches, if the name matches.
    # elif git ls-remote --heads "$REPO_URL" "$CURRENT_BRANCH" | grep -q .; then
    #   echo "LIB_BRANCH=$CURRENT_BRANCH" >> $GITHUB_ENV
    - name: Resolve DetectMateLibrary branch
      run: |
        CURRENT_BRANCH="${{ github.ref_name }}"
        REPO_URL="https://github.com/ait-detectmate/DetectMateLibrary.git"
        if [ "$CURRENT_BRANCH" = "main" ]; then
          echo "LIB_BRANCH=main" >> $GITHUB_ENV
        else
          echo "LIB_BRANCH=development" >> $GITHUB_ENV
        fi

    - name: Patch pyproject.toml for the right DetectMateLibrary branch
      run: |
        sed -i 's#detectmatelibrary @ git+https://github.com/ait-detectmate/DetectMateLibrary.git#detectmatelibrary @ git+https://github.com/ait-detectmate/DetectMateLibrary.git@'"${LIB_BRANCH}"'#' pyproject.toml

    - name: Install project deps
      run: uv pip install -e .[dev]

    - name: Use specific detematelibrary version
      run: chmod +x scripts/change_toml.sh && scripts/change_toml.sh $GITHUB_BASE_REF

    - name: Resolve DetectMateLibrary branch
      run: |
        CURRENT_BRANCH="${{ github.ref_name }}"
        REPO_URL="https://github.com/ait-detectmate/DetectMateLibrary.git"
        if [ "$CURRENT_BRANCH" = "main" ]; then
          echo "LIB_BRANCH=main" >> $GITHUB_ENV
        elif git ls-remote --heads "$REPO_URL" "$CURRENT_BRANCH" | grep -q .; then
          echo "LIB_BRANCH=$CURRENT_BRANCH" >> $GITHUB_ENV
        else
          echo "LIB_BRANCH=development" >> $GITHUB_ENV
        fi

    - name: Patch pyproject.toml for the right DetectMateLibrary branch
      run: |
        sed -i 's#detectmatelibrary @ git+https://github.com/ait-detectmate/DetectMateLibrary.git#detectmatelibrary @ git+https://github.com/ait-detectmate/DetectMateLibrary.git@'"${LIB_BRANCH}"'#' pyproject.toml

    - name: Install project deps
      run: uv pip install -e .[dev]

    - name: Run pre-commit with prek
      run: uv run --dev prek run -a

    - name: Test with pytest
      run: uv run --dev pytest --ignore tests/library_integration
