# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read
  packages: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up uv (Python 3.10)
      uses: astral-sh/setup-uv@v6.6.0
      with:
        python-version: "3.10"
        activate-environment: true
        enable-cache: true

    - name: Configure git credentials
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        echo "https://oauth2:${GITHUB_TOKEN}@github.com" > ~/.git-credentials
        git config --global credential.helper store

    - name: Install project deps
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: uv pip install -e ".[dev]" --verbose

    - name: Run pre-commit with prek
      run: uv run prek run -a

    - name: Test with pytest
      run: uv run pytest
